
.priori_stylebase {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;

    font-size:14px;

    margin:0px;
    padding:0px;
    position:absolute;
}

* {
    outline: none !important;
}

*:focus {
    outline :none !important;
}